################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleTst/v15
/.vs/ConsoleTst/v16/Server/sqlite3
